@charset "utf-8";
@import "compass/reset";
@import "../layout/menu";
@import "../layout/nav";
@import "../layout/select";
@import "../layout/modal";


.wrapper {
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
.container {
  min-width: 815px;
  overflow-x:scroll;
}
.content:not(:first-child) {
  display: none;
}

.select-tab {
  margin: 40px 0;
}

.select-tab select {
  width       : 140px;
  height      : 38px;
  outline     : none;
  border      : 1px solid #D4DEE5;
  font-size   : 14px;
  color       : #999;
  padding-left: 10px;

  &:not(:first-child) {
    margin-left: 17px;
  }

  &:hover {
    border-color: #4091EF;
  }

  & option {
    width : 10px;
    border: 1px solid #D4DEE5;
    color : #333;

    &:hover {
      background: #EAEFF2;
    }
  }
}

.add-product {
  float     : right;
  width     : 112px;
  height    : 38px;
  border    : 0;
  font-size : 14px;
  color     : #fff;
  background: #4091EF;
  padding   : 0;
}
// 表格
//==========


.shop-table {
  position: relative;
  height: 2166px;
  border-width: 22px 33px 0 33px;
  border-style: solid;
  border-color: #EAEFF2;
  background: #fff;
  /* 子元素的margin-top 不会传递给父元素 */
  overflow: hidden;
}

.form {
  padding-left: 57px;
  padding-right: 38px;
}
.table {
  width          : 100%;
  margin-top     : 71px;
  border-collapse: collapse;
  font-size      : 14px;

  & thead {
    width     : 100%;
    background: #ECECEF;
    border    : 1px solid #DDDEE8;

    & td {
      width         : 16.666%;
      height        : 57px;
      text-align    : center;
      vertical-align: middle;
    }
  }

  tbody {
    & tr {
      width: 100%;

      & td {
        width         : 16.666%;
        height        : 79px;
        border        : 1px solid #E7E7E7;
        text-align    : center;
        vertical-align: middle;

        &:last-child {
          div {
            margin: 8px 0;

            span {
              color      : #4091EF;
              cursor     : pointer;
              line-height: 14px;

              &:hover {
                border-bottom: 1px solid #4091EF;
              }
            }

            .hide {
              display: none;
            }

            .show {
              display: block;
            }

            .delete {
              color: #67BE3D;

              &:hover {
                border-bottom: 1px solid #67BE3D;
              }
            }
          }
        }
      }
    }
  }
}

// 模态框表单控件
//===============

.shop-form {
  margin: 10px 30px;

  .title {
    font-size  : 30px;
    color      : #333;
    line-height: 40px;
    margin     : 30px 0;
  }

  .item {
    height: 38px;
    margin: 20px 0;

    label {
      display       : inline-block;
      width         : 58px;
      font-size     : 14px;
      color         : #333333;
      letter-spacing: 0.5px;
      line-height   : 22px;
      margin-right  : 11px;
    }

    input,
    select {
      display  : inline-block;
      width    : 300px;
      height   : 38px;
      font-size: 14px;
      color    : #999;
      padding  : 0 0 0 10px;
      border   : 1px solid #D4DEE5;

      &:hover {
        border: 1px solid #4091EF;
      }
    }

    .select-box {
      width: 300px;

      .select {
        width: 302px;
      }

      .option {
        width: 290px;
      }
    }

    span {
      display    : inline-block;
      width      : 140px;
      line-height: 38px;
      font-size  : 14px;
      color      : #BCBCBC;
      text-align : center;
      background : #F5F5F9;
      border     : 1px solid #E5E5E5;

      &:last-child {
        margin-left: 17px;
      }
      &          :hover,
      // hover状态或者有active类
      &.active {
        color : #333;
        border: 1px solid #999;
      }
    }

    &:last-child {
      float     : right;
      margin-top: 60px;
    }

    button {
      display    : inline-block;
      width      : 112px;
      height     : 38px;
      font-size  : 14px;
      border     : 1px solid #B9BDC1;
      margin-left: 7px;
      background : #FFFFFF;
      font-size  : 14px;
      color      : #999;
      outline    : none;
      padding    : 0;

      &:active,
      &:hover {
        border: 1px solid #4091EF;
        color : #4091EF;
      }
    }
  }
}
