@charset "UTF-8";
/* line 5, I:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, I:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, I:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, I:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, I:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, I:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, I:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, I:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, I:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 146px;
  height: 100%;
  background: #287CDF;
}

/* line 14, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.menu-item {
  margin-top: 70px;
  height: 140px;
  width: 146px;
  overflow: hidden;
}
/* line 20, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.menu-item a {
  display: block;
  height: 140px;
  width: 146px;
  text-decoration: none;
}
/* line 26, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.menu-item a img {
  display: block;
  margin-top: 30px;
  margin-left: 48px;
}
/* line 32, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.menu-item a p {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

/* line 42, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.menu-item-selected,
.menu-item:hover {
  background: #1466C7;
}

/* line 47, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.logo {
  height: 140px;
  width: 146px;
  margin-top: 30px;
  background: url("../images/touch/logo.png") no-repeat top;
  overflow: hidden;
}
/* line 54, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.logo img {
  display: block;
  max-width: 70px;
  vertical-align: middle;
  margin: 30px auto 0;
}

/* line 4, ../../../sass/passport-web/rechargeSteward/layout/_nav.scss */
.container {
  margin-left: 146px;
}

/* line 8, ../../../sass/passport-web/rechargeSteward/layout/_nav.scss */
.nav {
  width: 100% px;
  heihgt: 80px;
  background: #fff;
  overflow: hidden;
}
/* line 14, ../../../sass/passport-web/rechargeSteward/layout/_nav.scss */
.nav li {
  float: left;
  list-style-type: none;
  margin: 0 8.3333%;
}
/* line 19, ../../../sass/passport-web/rechargeSteward/layout/_nav.scss */
.nav li a {
  display: block;
  font-size: 20px;
  height: 20px;
  text-decoration: none;
  color: #3D516C;
  padding-top: 30px;
  padding-bottom: 27px;
  border-bottom: 3px solid rgba(64, 145, 239, 0);
}
/* line 30, ../../../sass/passport-web/rechargeSteward/layout/_nav.scss */
.nav li .active,
.nav li a:hover {
  color: #4091EF;
  border-bottom: 3px solid #4091ef;
}

/* line 4, ../../../sass/passport-web/rechargeSteward/layout/_contentBox.scss */
.msg {
  width: 100%;
}

/* line 7, ../../../sass/passport-web/rechargeSteward/layout/_contentBox.scss */
.content {
  position: relative;
  height: 2166px;
  border-width: 22px 33px 0 33px;
  border-style: solid;
  border-color: #EAEFF2;
  background: #fff;
  /* 子元素的margin-top 不会传递给父元素 */
  overflow: hidden;
}
/* line 16, ../../../sass/passport-web/rechargeSteward/layout/_contentBox.scss */
.content:not(:first-child) {
  display: none;
}

/* line 20, ../../../sass/passport-web/rechargeSteward/layout/_contentBox.scss */
.form {
  position: relative;
  padding-left: 57px;
  padding-right: 38px;
}
/* line 24, ../../../sass/passport-web/rechargeSteward/layout/_contentBox.scss */
.form:not(:first-child) {
  display: none;
}

/* line 29, ../../../sass/passport-web/rechargeSteward/layout/_contentBox.scss */
.show {
  display: block;
}

/* line 32, ../../../sass/passport-web/rechargeSteward/layout/_contentBox.scss */
.hide {
  display: none;
}

/* line 7, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.logo {
  height: 140px;
  width: 146px;
  margin-top: 30px;
  background: url("../images/touch/logo.png") no-repeat top;
  overflow: hidden;
}
/* line 14, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.logo img {
  display: block;
  max-width: 70px;
  vertical-align: middle;
  margin: 30px auto 0;
}

/* line 22, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.wrapper {
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

/* line 28, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.msg p {
  display: inline-block;
  width: 94%;
  margin: 20px 0;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  /* 多行 ... */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

/* line 43, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.filter-box {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 57px;
  width: 51.9%;
  height: 38px;
  font-size: 0;
}
/* line 52, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.filter-box a {
  display: inline-block;
  width: 30%;
  font-size: 16px;
  color: #999;
  text-align: center;
  line-height: 38px;
  border: 1px solid #999;
  text-decoration: none;
  /* 去除重合的边框 */
}
/* line 62, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.filter-box a:not(:first-child) {
  margin-left: -1px;
}
/* line 67, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.filter-box .active {
  background: #4091EF;
  color: #fff;
  border: 1px solid #4091EF;
}

/* line 74, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.operate {
  display: right;
  height: 40px;
  margin: 40px 0;
  overflow: hidden;
}
/* line 80, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.operate .btn {
  float: right;
  height: 38px;
  width: 112px;
  font-size: 14px;
  outline: none;
  padding: 0;
  border: 0;
  margin-left: 20px;
}
/* line 81, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.operate .btn:not(.btn-edit) {
  display: none;
}
/* line 94, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.operate .btn-edit {
  background: #4091EF;
  color: #fff;
}
/* line 98, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.operate .btn-edit:active, .operate .btn-edit:hover {
  background: #287CDF;
  border: 1px solid #4091EF;
}
/* line 105, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.operate .btn-active {
  outline: none;
  background: #67BE3D;
  color: #fff;
}

/* line 113, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.tip-title span {
  font-size: 14px;
  color: #666;
}
/* line 117, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.tip-title span:first-child {
  float: left;
}
/* line 121, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.tip-title span:last-child {
  float: right;
}

/* line 127, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.hr {
  border: 1px solid #DDDEE8;
  margin-top: 12px;
}

/* line 133, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

/* line 140, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.clearfix {
  *zoom: 1;
}

/*IE/7/6*/
/* line 147, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.leave-msg {
  padding: 40px 0;
  border-bottom: 1px dashed #DDDEE8;
  overflow: hidden;
}

/* line 154, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.operate-btn {
  float: left;
  width: 12.5%;
}
/* line 158, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.operate-btn input {
  float: right;
  display: block;
  outline: none;
  width: 110px;
  height: 30px;
  padding: 0;
  font-size: 14px;
  background: #fff;
  margin-top: 20px;
}
/* line 170, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.operate-btn .btn-show {
  border: 1px solid #4091EF;
  color: #4091EF;
}
/* line 174, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.operate-btn .btn-show:active, .operate-btn .btn-show:hover {
  background: #4091EF;
  color: #fff;
}
/* line 181, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.operate-btn .btn-cancel,
.operate-btn .btn-delete,
.operate-btn .btn-hide {
  border: 1px solid #67BE3D;
  color: #67BE3D;
}
/* line 187, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.operate-btn .btn-cancel:active, .operate-btn .btn-cancel:hover,
.operate-btn .btn-delete:active,
.operate-btn .btn-delete:hover,
.operate-btn .btn-hide:active,
.operate-btn .btn-hide:hover {
  background: #67BE3D;
  color: #fff;
}

/* 复选框 */
/* line 196, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.pri-checkbox {
  /* 隐藏原来的 checkbox */
  opacity: 0;
}

/* line 201, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.btn-checkbox {
  display: none;
}

/* line 205, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.init-checkbox {
  width: 28px;
  height: 28px;
  float: right;
  margin-top: 20px;
  border: 1px solid #DDDEE8;
}
/* line 212, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.init-checkbox:hover {
  border: 1px solid #4091EF;
}

/* line 217, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.checkbox-img {
  display: none;
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 20px;
}

/* 留言用户及内容 */
/* line 226, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.user-msg {
  float: left;
  width: 87.5%;
}

/* line 232, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.user-box .name {
  font-size: 24px;
  color: #333;
  /* 单行 ... */
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 243, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.user-box span:not(:first-child) {
  margin-left: 10px;
}
/* line 247, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.user-box .nice {
  color: #F37D00;
  font-size: 20px;
}

/* line 253, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.user-msg .msg-time {
  font-size: 14px;
  color: #999;
}

/* line 259, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.vertical-center {
  position: relative;
  top: 50%;
  left: 50%;
}

/* line 267, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.modal-overlay-box {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}

/* line 279, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.modal-box {
  position: absolute;
  padding: 24px 30px;
  border-radius: 5px;
  background: #fff;
  z-index: 1000;
}
/* line 286, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.modal-box .close {
  float: right;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: -7px;
}
/* line 294, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.modal-box .icon-close {
  display: block;
  width: 15px;
  height: 2px;
  margin-top: 7px;
  background: #D4DEE5;
  line-height: 0;
  font-size: 0;
  vertical-align: middle;
  -webkit-transform: rotate(45deg);
}
/* line 305, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.modal-box .icon-close:after {
  content: '/';
  display: block;
  width: 15px;
  height: 2px;
  background: #D4DEE5;
  -webkit-transform: rotate(-90deg);
}
/* line 315, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.modal-box h1 {
  font-size: 30px;
  color: #333;
}
/* line 320, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.modal-box p {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
/* line 326, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.modal-box .operate {
  margin-top: 100px;
}
/* line 329, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.modal-box .operate button {
  float: right;
  width: 112px;
  height: 38px;
  margin-left: 10px;
  background: #FFFFFF;
  border: 1px solid #B9BDC1;
  font-size: 14px;
  color: #999;
  padding: 0;
}
/* line 340, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.modal-box .operate button:active, .modal-box .operate button:hover {
  background: #4091EF;
  border: 1px solid #4091EF;
  color: #fff;
}

/* line 351, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.vertical-center-s {
  position: absolute;
  width: 600px;
  height: 260px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -130px;
}

/* line 361, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.html-body-overflow {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* line 368, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.pagination {
  width: 400px;
  margin: 100px auto 0;
}

/* line 373, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
a {
  color: #34538b;
}

/* line 377, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
#Searchresult {
  width: 300px;
  height: 100px;
  padding: 20px;
  background: #f0f3f9;
}

/* line 384, ../../../sass/passport-web/rechargeSteward/page/_layout.scss */
.message {
  overflow: hidden;
}

/* line 5, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 146px;
  height: 100%;
  background: #287CDF;
}

/* line 14, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.menu-item {
  margin-top: 70px;
  height: 140px;
  width: 146px;
  overflow: hidden;
}
/* line 20, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.menu-item a {
  display: block;
  height: 140px;
  width: 146px;
  text-decoration: none;
}
/* line 26, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.menu-item a img {
  display: block;
  margin-top: 30px;
  margin-left: 48px;
}
/* line 32, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.menu-item a p {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

/* line 42, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.menu-item-selected,
.menu-item:hover {
  background: #1466C7;
}

/* line 47, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.logo {
  height: 140px;
  width: 146px;
  margin-top: 30px;
  background: url("../images/touch/logo.png") no-repeat top;
  overflow: hidden;
}
/* line 54, ../../../sass/passport-web/rechargeSteward/layout/_menu.scss */
.logo img {
  display: block;
  max-width: 70px;
  vertical-align: middle;
  margin: 30px auto 0;
}

/* line 1, ../../../sass/passport-web/rechargeSteward/layout/_select.scss */
.select-box {
  position: relative;
  display: inline-block;
  margin-right: 17px;
  font-size: 14px;
}

/* line 8, ../../../sass/passport-web/rechargeSteward/layout/_select.scss */
.select {
  position: relative;
  display: inline-block;
  width: 157px;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  border: 1px solid #D4DEE5;
  color: #999;
  padding-left: 10px;
}
/* line 19, ../../../sass/passport-web/rechargeSteward/layout/_select.scss */
.select:hover {
  border: 1px solid #4091EF;
}

/* line 23, ../../../sass/passport-web/rechargeSteward/layout/_select.scss */
.option-box {
  display: none;
  position: absolute;
  z-index: 1;
  background: #fff;
  top: 38px;
}

/* line 32, ../../../sass/passport-web/rechargeSteward/layout/_select.scss */
.option {
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  width: 145px;
  border: 1px solid #D4DEE5;
  padding-left: 10px;
}
/* line 39, ../../../sass/passport-web/rechargeSteward/layout/_select.scss */
.option:not(:first-child) {
  margin-top: -1px;
}

/* line 45, ../../../sass/passport-web/rechargeSteward/layout/_select.scss */
.triangle {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #000;
  background: #fff;
}

/* line 56, ../../../sass/passport-web/rechargeSteward/layout/_select.scss */
.hover {
  background: #D4DEE5;
  color: #fff;
}

/* line 61, ../../../sass/passport-web/rechargeSteward/layout/_select.scss */
.select-hover {
  border: 1px solid #4091EF;
}

/* line 3, ../../../sass/passport-web/rechargeSteward/layout/_modal.scss */
.modal-overlay {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}

/* line 15, ../../../sass/passport-web/rechargeSteward/layout/_modal.scss */
.modal-data {
  position: absolute;
  width: 400px;
  background: #fff;
  z-index: 1000;
}

/* line 23, ../../../sass/passport-web/rechargeSteward/layout/_modal.scss */
.vertical-center {
  position: absolute;
  width: 600px;
  height: 454px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -227px;
}

/* line 6, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.logo {
  height: 140px;
  width: 146px;
  margin-top: 30px;
  background: url("../images/touch/logo.png") no-repeat top;
  overflow: hidden;
}
/* line 13, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.logo img {
  display: block;
  max-width: 70px;
  vertical-align: middle;
  margin: 30px auto 0;
}

/* line 21, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.wrapper {
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

/* line 25, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.content:not(:first-child) {
  display: none;
}

/* line 29, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.select-tab {
  margin: 40px 0;
}

/* line 33, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.select-tab select {
  width: 140px;
  height: 38px;
  outline: none;
  border: 1px solid #D4DEE5;
  font-size: 14px;
  color: #999;
  padding-left: 10px;
}
/* line 42, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.select-tab select:not(:first-child) {
  margin-left: 17px;
}
/* line 46, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.select-tab select:hover {
  border-color: #4091EF;
}
/* line 50, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.select-tab select option {
  width: 10px;
  border: 1px solid #D4DEE5;
  color: #333;
}
/* line 55, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.select-tab select option:hover {
  background: #EAEFF2;
}

/* line 61, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.add-product {
  float: right;
  width: 112px;
  height: 38px;
  border: 0;
  font-size: 14px;
  color: #fff;
  background: #4091EF;
  padding: 0;
}

/* line 74, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.table {
  width: 100%;
  margin-top: 71px;
  border-collapse: collapse;
  font-size: 14px;
}
/* line 80, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.table thead {
  width: 100%;
  background: #ECECEF;
  border: 1px solid #DDDEE8;
}
/* line 85, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.table thead td {
  width: 16.666%;
  height: 57px;
  text-align: center;
  vertical-align: middle;
}
/* line 94, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.table tbody tr {
  width: 100%;
}
/* line 97, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.table tbody tr td {
  width: 16.666%;
  height: 79px;
  border: 1px solid #E7E7E7;
  text-align: center;
  vertical-align: middle;
}
/* line 105, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.table tbody tr td:last-child div {
  margin: 8px 0;
}
/* line 108, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.table tbody tr td:last-child div span {
  color: #4091EF;
  cursor: pointer;
  line-height: 14px;
}
/* line 113, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.table tbody tr td:last-child div span:hover {
  border-bottom: 1px solid #4091EF;
}
/* line 118, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.table tbody tr td:last-child div .hide {
  display: none;
}
/* line 122, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.table tbody tr td:last-child div .show {
  display: block;
}
/* line 126, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.table tbody tr td:last-child div .delete {
  color: #67BE3D;
}
/* line 129, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.table tbody tr td:last-child div .delete:hover {
  border-bottom: 1px solid #67BE3D;
}

/* line 142, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form {
  margin: 10px 30px;
}
/* line 145, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .title {
  font-size: 30px;
  color: #333;
  line-height: 40px;
  margin: 30px 0;
}
/* line 152, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item {
  height: 38px;
  margin: 20px 0;
}
/* line 156, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item label {
  display: inline-block;
  width: 58px;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0.5px;
  line-height: 22px;
  margin-right: 11px;
}
/* line 166, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item input,
.shop-form .item select {
  display: inline-block;
  width: 300px;
  height: 38px;
  font-size: 14px;
  color: #999;
  padding: 0 0 0 10px;
  border: 1px solid #D4DEE5;
}
/* line 176, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item input:hover,
.shop-form .item select:hover {
  border: 1px solid #4091EF;
}
/* line 181, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item .select-box {
  width: 300px;
}
/* line 184, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item .select-box .select {
  width: 302px;
}
/* line 188, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item .select-box .option {
  width: 290px;
}
/* line 193, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item span {
  display: inline-block;
  width: 140px;
  line-height: 38px;
  font-size: 14px;
  color: #BCBCBC;
  text-align: center;
  background: #F5F5F9;
  border: 1px solid #E5E5E5;
}
/* line 203, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item span:last-child {
  margin-left: 17px;
}
/* line 206, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item span :hover, .shop-form .item span.active {
  color: #333;
  border: 1px solid #999;
}
/* line 214, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item:last-child {
  float: right;
  margin-top: 60px;
}
/* line 219, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item button {
  display: inline-block;
  width: 112px;
  height: 38px;
  font-size: 14px;
  border: 1px solid #B9BDC1;
  margin-left: 7px;
  background: #FFFFFF;
  font-size: 14px;
  color: #999;
  outline: none;
  padding: 0;
}
/* line 232, ../../../sass/passport-web/rechargeSteward/page/_shop.scss */
.shop-form .item button:active, .shop-form .item button:hover {
  border: 1px solid #4091EF;
  color: #4091EF;
}
