@charset "UTF-8";
/* line 5, H:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, H:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, H:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, H:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, H:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, H:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, H:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, H:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, H:/application/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../sass/layout/_menu.scss */
.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 146px;
  height: 100%;
  background: #287CDF;
  z-index: 1000;
}

/* line 15, ../../sass/layout/_menu.scss */
.menu-item {
  margin-top: 70px;
  height: 140px;
  width: 146px;
  overflow: hidden;
}
/* line 21, ../../sass/layout/_menu.scss */
.menu-item a {
  display: block;
  height: 140px;
  width: 146px;
  text-decoration: none;
}
/* line 27, ../../sass/layout/_menu.scss */
.menu-item a img {
  display: block;
  margin-top: 30px;
  margin-left: 48px;
}
/* line 33, ../../sass/layout/_menu.scss */
.menu-item a p {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

/* line 43, ../../sass/layout/_menu.scss */
.menu-item-selected,
.menu-item:hover {
  background: #1466C7;
}

/* line 48, ../../sass/layout/_menu.scss */
.logo {
  height: 140px;
  width: 146px;
  margin-top: 30px;
  background: url("../../../images/touch/logo.png") no-repeat top;
  overflow: hidden;
}
/* line 55, ../../sass/layout/_menu.scss */
.logo img {
  display: block;
  max-width: 70px;
  vertical-align: middle;
  margin: 30px auto 0;
}

/* line 4, ../../sass/layout/_nav.scss */
.container {
  margin-left: 146px;
}

/* line 8, ../../sass/layout/_nav.scss */
.nav {
  width: 100% px;
  height: 80px;
  background: #fff;
  overflow: hidden;
}
/* line 14, ../../sass/layout/_nav.scss */
.nav li {
  float: left;
  list-style-type: none;
  margin: 0 8.3333%;
}
/* line 19, ../../sass/layout/_nav.scss */
.nav li a {
  display: block;
  font-size: 20px;
  height: 20px;
  text-decoration: none;
  color: #3D516C;
  padding-top: 30px;
  padding-bottom: 27px;
  border-bottom: 3px solid rgba(64, 145, 239, 0);
}
/* line 30, ../../sass/layout/_nav.scss */
.nav li .active,
.nav li li:hover {
  color: #4091EF;
  border-bottom: 3px solid #4091ef;
}

/* line 1, ../../sass/layout/_select.scss */
.select-box {
  position: relative;
  display: inline-block;
  margin-right: 17px;
  font-size: 14px;
}

/* line 8, ../../sass/layout/_select.scss */
.select {
  position: relative;
  display: inline-block;
  width: 157px;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  border: 1px solid #D4DEE5;
  color: #999;
  padding-left: 10px;
}
/* line 19, ../../sass/layout/_select.scss */
.select:hover {
  border: 1px solid #4091EF;
}

/* line 23, ../../sass/layout/_select.scss */
.option-box {
  display: none;
  position: absolute;
  z-index: 1;
  background: #fff;
  top: 38px;
}

/* line 32, ../../sass/layout/_select.scss */
.option {
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  width: 145px;
  border: 1px solid #D4DEE5;
  padding-left: 10px;
}
/* line 39, ../../sass/layout/_select.scss */
.option:not(:first-child) {
  margin-top: -1px;
}

/* line 45, ../../sass/layout/_select.scss */
.triangle {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #000;
  background: #fff;
}

/* line 56, ../../sass/layout/_select.scss */
.hover {
  background: #D4DEE5;
  color: #fff;
}

/* line 61, ../../sass/layout/_select.scss */
.select-hover {
  border: 1px solid #4091EF;
}

/* line 3, ../../sass/layout/_modal.scss */
.modal-overlay {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5000;
  background: rgba(0, 0, 0, 0.7);
}

/* line 15, ../../sass/layout/_modal.scss */
.modal-data {
  position: absolute;
  width: 400px;
  background: #fff;
  z-index: 10000;
}

/* line 23, ../../sass/layout/_modal.scss */
.vertical-center {
  position: absolute;
  width: 600px;
  height: 454px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -227px;
}

/* line 9, ../../sass/page/shop.scss */
.wrapper {
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

/* line 12, ../../sass/page/shop.scss */
.container {
  min-width: 815px;
  overflow-x: scroll;
}

/* line 16, ../../sass/page/shop.scss */
.content:not(:first-child) {
  display: none;
}

/* line 20, ../../sass/page/shop.scss */
.select-tab {
  margin: 40px 0;
}

/* line 24, ../../sass/page/shop.scss */
.select-tab select {
  width: 140px;
  height: 38px;
  outline: none;
  border: 1px solid #D4DEE5;
  font-size: 14px;
  color: #999;
  padding-left: 10px;
}
/* line 33, ../../sass/page/shop.scss */
.select-tab select:not(:first-child) {
  margin-left: 17px;
}
/* line 37, ../../sass/page/shop.scss */
.select-tab select:hover {
  border-color: #4091EF;
}
/* line 41, ../../sass/page/shop.scss */
.select-tab select option {
  width: 10px;
  border: 1px solid #D4DEE5;
  color: #333;
}
/* line 46, ../../sass/page/shop.scss */
.select-tab select option:hover {
  background: #EAEFF2;
}

/* line 52, ../../sass/page/shop.scss */
.add-product {
  float: right;
  width: 112px;
  height: 38px;
  border: 0;
  font-size: 14px;
  color: #fff;
  background: #4091EF;
  padding: 0;
}

/* line 66, ../../sass/page/shop.scss */
.shop-table {
  position: relative;
  height: 2166px;
  border-width: 22px 33px 0 33px;
  border-style: solid;
  border-color: #EAEFF2;
  background: #fff;
  /* 子元素的margin-top 不会传递给父元素 */
  overflow: hidden;
}

/* line 77, ../../sass/page/shop.scss */
.form {
  padding-left: 57px;
  padding-right: 38px;
}

/* line 81, ../../sass/page/shop.scss */
.table {
  width: 100%;
  margin-top: 71px;
  border-collapse: collapse;
  font-size: 14px;
}
/* line 87, ../../sass/page/shop.scss */
.table thead {
  width: 100%;
  background: #ECECEF;
  border: 1px solid #DDDEE8;
}
/* line 92, ../../sass/page/shop.scss */
.table thead td {
  width: 16.666%;
  height: 57px;
  text-align: center;
  vertical-align: middle;
}
/* line 101, ../../sass/page/shop.scss */
.table tbody tr {
  width: 100%;
}
/* line 104, ../../sass/page/shop.scss */
.table tbody tr td {
  width: 16.666%;
  height: 79px;
  border: 1px solid #E7E7E7;
  text-align: center;
  vertical-align: middle;
}
/* line 112, ../../sass/page/shop.scss */
.table tbody tr td:last-child div {
  margin: 8px 0;
}
/* line 115, ../../sass/page/shop.scss */
.table tbody tr td:last-child div span {
  color: #4091EF;
  cursor: pointer;
  line-height: 14px;
}
/* line 120, ../../sass/page/shop.scss */
.table tbody tr td:last-child div span:hover {
  border-bottom: 1px solid #4091EF;
}
/* line 125, ../../sass/page/shop.scss */
.table tbody tr td:last-child div .hide {
  display: none;
}
/* line 129, ../../sass/page/shop.scss */
.table tbody tr td:last-child div .show {
  display: block;
}
/* line 133, ../../sass/page/shop.scss */
.table tbody tr td:last-child div .delete {
  color: #67BE3D;
}
/* line 136, ../../sass/page/shop.scss */
.table tbody tr td:last-child div .delete:hover {
  border-bottom: 1px solid #67BE3D;
}

/* line 150, ../../sass/page/shop.scss */
.shop-form {
  margin: 10px 30px;
}
/* line 153, ../../sass/page/shop.scss */
.shop-form .title {
  font-size: 30px;
  color: #333;
  line-height: 40px;
  margin: 30px 0;
}
/* line 160, ../../sass/page/shop.scss */
.shop-form .item {
  height: 38px;
  margin: 20px 0;
}
/* line 164, ../../sass/page/shop.scss */
.shop-form .item label {
  display: inline-block;
  width: 58px;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0.5px;
  line-height: 22px;
  margin-right: 11px;
}
/* line 174, ../../sass/page/shop.scss */
.shop-form .item input,
.shop-form .item select {
  display: inline-block;
  width: 300px;
  height: 38px;
  font-size: 14px;
  color: #999;
  padding: 0 0 0 10px;
  border: 1px solid #D4DEE5;
}
/* line 184, ../../sass/page/shop.scss */
.shop-form .item input:hover,
.shop-form .item select:hover {
  border: 1px solid #4091EF;
}
/* line 189, ../../sass/page/shop.scss */
.shop-form .item .select-box {
  width: 300px;
}
/* line 192, ../../sass/page/shop.scss */
.shop-form .item .select-box .select {
  width: 302px;
}
/* line 196, ../../sass/page/shop.scss */
.shop-form .item .select-box .option {
  width: 290px;
}
/* line 201, ../../sass/page/shop.scss */
.shop-form .item span {
  display: inline-block;
  width: 140px;
  line-height: 38px;
  font-size: 14px;
  color: #BCBCBC;
  text-align: center;
  background: #F5F5F9;
  border: 1px solid #E5E5E5;
}
/* line 211, ../../sass/page/shop.scss */
.shop-form .item span:last-child {
  margin-left: 17px;
}
/* line 214, ../../sass/page/shop.scss */
.shop-form .item span :hover, .shop-form .item span.active {
  color: #333;
  border: 1px solid #999;
}
/* line 222, ../../sass/page/shop.scss */
.shop-form .item:last-child {
  float: right;
  margin-top: 60px;
}
/* line 227, ../../sass/page/shop.scss */
.shop-form .item button {
  display: inline-block;
  width: 112px;
  height: 38px;
  font-size: 14px;
  border: 1px solid #B9BDC1;
  margin-left: 7px;
  background: #FFFFFF;
  font-size: 14px;
  color: #999;
  outline: none;
  padding: 0;
}
/* line 240, ../../sass/page/shop.scss */
.shop-form .item button:active, .shop-form .item button:hover {
  border: 1px solid #4091EF;
  color: #4091EF;
}
